USE [Tournaments]
GO
/****** Object:  Table [dbo].[MATCHUPENTRIES]    Script Date: 31-Jan-20 14:25:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCHUPENTRIES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchupId] [int] NOT NULL,
	[ParentMatchupId] [int] NULL,
	[TeamCompetingId] [int] NULL,
	[Score] [float] NULL,
 CONSTRAINT [PK_MATCHUPENTRIES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MATCHUPENTRIES]  WITH CHECK ADD  CONSTRAINT [FK_MATCHUPENTRIES_MATCHUPS] FOREIGN KEY([MatchupId])
REFERENCES [dbo].[MATCHUPS] ([Id])
GO
ALTER TABLE [dbo].[MATCHUPENTRIES] CHECK CONSTRAINT [FK_MATCHUPENTRIES_MATCHUPS]
GO
ALTER TABLE [dbo].[MATCHUPENTRIES]  WITH CHECK ADD  CONSTRAINT [FK_MATCHUPENTRIES_PARENTMATCHUPS] FOREIGN KEY([ParentMatchupId])
REFERENCES [dbo].[MATCHUPS] ([Id])
GO
ALTER TABLE [dbo].[MATCHUPENTRIES] CHECK CONSTRAINT [FK_MATCHUPENTRIES_PARENTMATCHUPS]
GO
ALTER TABLE [dbo].[MATCHUPENTRIES]  WITH CHECK ADD  CONSTRAINT [FK_MATCHUPENTRIES_TEAMS] FOREIGN KEY([TeamCompetingId])
REFERENCES [dbo].[TEAMS] ([Id])
GO
ALTER TABLE [dbo].[MATCHUPENTRIES] CHECK CONSTRAINT [FK_MATCHUPENTRIES_TEAMS]
GO
